<%- include('partials/head') %>


    <%- include('partials/navbar') %>
        <h1>All The Countries</h1>
        <ul>
            <% for(let country of allCountries) { %>
                <li>
                    <%= country %>
                </li>
                <% } %>
        </ul>
        <%- include('partials/footer') %>