<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Edit Comment</h1>
    <form action="/comments/<%= comment.id %>?_method=PATCH" method="POST">
        <textarea name="comment" rows="5" cols="30" type="text"><%= comment.comment %></textarea>
        <button>Save</button>
    </form>
</body>

</html>