<% layout('/layouts/boilerplate') %>


    <h1>Update Campground</h1>
    <form action='/campgrounds/<%= campground._id %>?_method=PUT' method="POST">
        <section>
            <label for="name">Title</label>
            <input type="text" id="name" name="campground[title]" value="<%= campground.title %>">
        </section>
        <section>
            <label for="location">location</label>
            <input type="text" id="location" name="campground[location]" value="<%= campground.location %>">
        </section>
        <button>Update campground</button>
    </form>
    <footer>
        <a href="/campgrounds">Back</a>
        <a href="/campgrounds/<%= campground._id %>">Cancel</a>
    </footer>