<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL PRODUCTS</title>
</head>

<body>
    <h1>ALL PRODUCTS!!</h1>
    <% for(let product of products){ %>
        <ul>
            <li>
                <%= product.name %>
            </li>
        </ul>
        <% } %>
</body>

</html>